.errorMessage {
	padding: 5px 10px;
	background-color: #FF8;
	color: black;
	cursor: default;
	display: inline-block;
	margin-bottom: 10px;
}
.successMessage {
	padding: 5px 10px;
	background-color: #9F9;
	color: black;
	cursor: default;
	display: inline-block;
	margin-bottom: 10px;
}

.formify {
	width: 80%;
	max-width: 800px;
}
.formify input[type='text'], .formify input[type='password'] {
	color: black !important;
}

input[type="button"], input[type="submit"], input[type="reset"], .small {
	padding: 0.25em 0.5875em 0.25em 0.5875em !important;
}

div.toolbar, table.music {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
	cursor: default;
}
table.music {
	font-size: 12px;
	text-align: left;
	cursor: default;
}
table.music tr {
}
table.music tr.media:hover {
	background-color: #D3F0EC;
	color: black;
}
table.music tr.media.active {
	background-color: #87C3E8;
	color: black;
}
table.music td {
	max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#ctlMessageBoxCtr {
	width: 100%;
	height: 200px;
	border: solid 1px black;
	box-shadow: 0px 0px 4px black;
	overflow: hidden;
}
#ctlMessageBox {
	height: 100%;
	padding: 5px 10px;
	font-size: 12px;
	overflow-x: hide;
	overflow-y: scroll;
	background-color: #303030;
	color: white;
	text-shadow: none;
	margin-right: -15px;
}
#ctlMessageBox div.ctlPost {
	word-wrap: break-word;
}
#ctlMessageBox div.ctlPost b {
	color: #87C3E8;
}
#ctlChatOverlay {
	background-color: rgba(0, 0, 0, 0.5);
	text-shadow: none;
	color: white;
	width: 50%
	display: inline-block;
	text-align: right;
	overflow: hidden;
	padding: 0px 10px;
}
#ctlChatOverlay span.ctlChatOverlayPost {
	
}
#ctlChatOverlay span.ctlChatOverlayPost b {
	color: #87C3E8;
}
#ctlChatOverlay span.ctlChatOverlayPost span {
	font-weight: bold;
}

.ctlPicon {
	width: 28px;
	height: 28px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 4px;
}
.tooltipsy {
	background-color: #303030;
	padding: 2px 8px;
	border-radius: 10px;
	font-size: 16px;
	color: white;
	box-shadow: 0px 0px 4px black;
}
.tooltipsyMin {
	background-color: rgba(30, 30, 30, 0.7);
	padding: 0px 6px;
	border-radius: 10px;
	font-size: 12px;
	color: white;
	box-shadow: 0px 0px 4px black;
}


input[type=range].slidey {
  -webkit-appearance: none;
  margin: 7.5px 0;
}
input[type=range].slidey:focus {
  outline: none;
}
input[type=range].slidey::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
  background: #bcbcbc;
  border-radius: 0.6px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range].slidey::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range].slidey:focus::-webkit-slider-runnable-track {
  background: #cbcbcb;
}
input[type=range].slidey::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
  background: #bcbcbc;
  border-radius: 0.6px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range].slidey::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].slidey::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slidey::-ms-fill-lower {
  background: #adadad;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 1.2px;
  box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slidey::-ms-fill-upper {
  background: #bcbcbc;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 1.2px;
  box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slidey::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  height: 5px;
}
input[type=range].slidey:focus::-ms-fill-lower {
  background: #bcbcbc;
}
input[type=range].slidey:focus::-ms-fill-upper {
  background: #cbcbcb;
}
